body {
  -webkit-app-region: drag;
  font-family: monospace;
  font-size: 12px;
  background-color: rgb(255, 149, 0);
  color: rgb(64, 64, 255);
  padding: 0;
  margin: 0;
}

/* grid */
.row {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* grid- shapes */
.col-1 {
  flex: 1;
  padding: 10px;
}

/* grid- informations */
.col-2 {
  height: 90px;
  padding: 10px;
}

/* shapes */
.shape {
  transition: all ease-in-out 800ms;
}

#shape-battery {
  width: 100%;
  height: 100%;
  background-color: rgb(64, 64, 255);
  transform: rotate(90deg);
  position: fixed; 
  top: 50%;
  left: 50%;
  border-radius: 0%;
  transform-origin: top;
}


#shape-cpu {
  width: 10%;
  height: 10%;
  background-color: rgb(255, 149, 0);
  transform: rotate(90deg);
  position: fixed; 
  top: 45%;
  left: 45%;
  border-radius: 50%;
  transform-origin: center;
}

#shape-ram {
  width: 50%;
  height: 50%;
  background-color: rgb(64, 64, 255);;
  /*transform: rotate(0deg);*/
  /*transform: rotate(90deg);*/
  position: fixed;
  top: 25%;
  left: 25%;
  transform-origin: center;
}

#shape-mouse {
  width: 50px;
  height: 50px;
  background-color: rgb(64, 64, 255);;
  position: fixed;
  top: 45%;
  left: 45%;
  /* triangle */
  transform-origin: center center;
  /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%); */
}

#shape-uptime {
  width: 10%;
  height: 10%;
  background-color: rgb(64, 64, 255);;
  position: fixed;
  top: 200px;
  left: 10px;
}


/* progress */
progress {
  width: 60%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent; /* colore dello sfondo della barra */
  border: none;
}

/* Colore del riempimento (barra di avanzamento) */
progress::-webkit-progress-bar {
  background-color: gray; /* sfondo vuoto */
}

progress::-webkit-progress-value {
  background-color: white; /* barra attiva in bianco */
}
